<html>
<body>
<head>
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">FreshMart</a>
        <button class="mobile-menu-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/cats">Products</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faqs">FAQs</a></li>
            <% if (isLoggedIn) { %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/active-subscriptions">Active Subscriptions</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>
</head>
</body>
</html>
